/* About.css */

.about {
    width: 100%;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.about.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #3498db; /* Blue border around the image */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.picture {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.picture img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.bio {
    flex: 2;
    padding: 20px;
    text-align: left;
}

.bio h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.bio p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

.skills {
    flex: 1;
    padding: 20px;
}

.skills h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.skill-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* Display skills side by side */
}

.skill-list li {
    font-size: 18px;
    margin-right: 20px; /* Add space between skills */
    margin-bottom: 12px;
    color: #555;
}

/* Responsive Styles for Mobile */
@media screen and (max-width: 768px) {
    .about {
        padding: 40px 0;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .picture img {
        max-width: 200px;
    }

    .bio {
        padding: 0 20px;
    }

    .bio h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .bio p {
        font-size: 16px;
    }

    .skills {
        padding: 10px;
    }

    .skills h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .skill-list li {
        font-size: 16px;
        margin-right: 10px;
    }
}
