/* About.css */

.about {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    width: 100%;
    padding: 60px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.about.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 1 part for picture, 1 part for bio and skills */
    gap: 3em; /* Spacing between columns */
    width: 100%;
    max-width: 1200px;
}

.picture {
    text-align: left;
}

.picture img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.bio {
    text-align: left;

}

.bio h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.bio p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

.skills-categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Create columns with a minimum width of 200px */
    gap: 20px; /* Spacing between columns */
}

.category {
    background-color: #f9f9f9;
    border: 1px solid #3498db;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.category h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.skill-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skill-list li {
    font-size: 18px;
    margin-bottom: 12px;
    color: #555;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
    .about {
        padding: 40px 0;
    }

    .title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .content {
        grid-template-columns: 1fr; /* Display one column for mobile */
        gap: 1em; /* Reduce spacing between elements */
    }

    .picture {
        text-align: center;
    }

    .picture img {
        max-width: 200px; /* Adjust image size for mobile */
    }

    .bio {
        text-align: center;
    }

    .bio h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .bio p {
        font-size: 16px;
    }

    .skills-categories {
        grid-template-columns: 1fr; /* Display one column for mobile */
    }

    .category {
        padding: 10px;

    }

    .category h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .skill-list li {
        font-size: 16px;
    }
}

/* Tablet styles */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .content {
        gap: 2em; /* Adjust spacing between elements for tablets */
    }
}