.fade-in-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in-on-scroll.fade-in-active {
    opacity: 1;
    transform: translateY(0);
}
.card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: calc(25% - 40px);
    display: flex;
    flex-direction: column;
    transition: transform 2s cubic-bezier(.25, .8, .25, 1);
}

@media (max-width: 1023px) {
    .card {
        width: calc(33.33% - 40px);
    }
}

@media (max-width: 767px) {
    .card {
        width: calc(50% - 40px);
    }
}

/* Fixed height for the cards */
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-text {
    max-height: 150px;
    overflow: hidden;
}

.card-text p {
    margin: 0;
    line-height: 1.5;
}

/* Additional text (back of the card) */
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg); /* Initially flip it to the back */
    background-color: #f5f5f5;
    backface-visibility: hidden;
    transition: opacity 1s ease, transform 0.9s cubic-bezier(.25, .8, .25, 1);
}

/* Flip animation on hover */
.card:hover  {
    transform: rotateY(180deg);
}

.card:hover .card-back {
    backface-visibility: visible;
}

/* Hide image and card-text on the back side */
card:hover .card-front  {
    visibility: hidden;

}

/* Ensure front content is visible when flipped */
.card .card-front {

    transform: rotateY(0);
}

/* Ensure back content is visible after flipping */
.card .is-flipped .card-front {
    transform: rotateY(180deg);
}

/* Hide back content after flipping */
.card .is-flipped .card-back {
    transform: rotateY(0);
}