.work-experience {
    display: flex;
}

.work-timeline {
    flex: 1;
}

.timeline-event {
    position: relative;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.timeline-event.active {
    background-color: #007bff;
    color: #fff;
}

.event-date {
    font-weight: bold;
    margin-bottom: 8px;
}

.event-details {
    margin-left: 16px;
}

.work-details {
    flex: 2;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 4px;
}

.work-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.work-details h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.work-details ul {
    padding: 0;
    list-style-type: none;
}

.work-details li {
    margin-bottom: 5px;
}
.work-details ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.work-details ul li:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 6px;
    height: 6px;
    background-color: #333;
    border-radius: 50%;
}

.work-details p {
    margin-bottom: 10px;
}
